doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/css/style.css")
    body
        header(id="buscador")
            a(href="localhost:3000")
                h1(id="titular") cyberScraper
            form(action="/", method="get") 
                label(for="query") Buscar en Macníficos
                input(type="text", name="query", id="query")  
                button(type="submit") Buscar
        
        section(id="container")
            each producto in data 
                article(class="cards")
                    img(src=producto.image)
                    p
                        b(id="title")= producto.title
                    p(id="price")= producto.price + "€"
                    a(id="ver", href=producto.url, target="_blank") Ver en Macníficos
